#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE  0
#define LNUM  1
#define RNUM  2

&mt {
  quick-tap-ms = <100>;
  global-quick-tap;
  flavor = "tap-preferred";
  tapping-term-ms = <170>;
};

&mmv {
  x-input-code = <INPUT_REL_X>;
  y-input-code = <INPUT_REL_Y>;
  time-to-max-speed-ms = <300>;
  acceleration-exponent = <1>;
};

&msc {
  x-input-code = <INPUT_REL_HWHEEL>;
  y-input-code = <INPUT_REL_WHEEL>;
  time-to-max-speed-ms = <300>;
  acceleration-exponent = <0>;
};

/ {

//  combos {
//    compatible = "zmk,combos";
//    combo_esc {
//      timeout-ms = <50>;
//      key-positions = <0 1>;
//      bindings = <&kp ESC>;
//    };
//    combo_tvp {
//      timeout-ms = <100>;
//      key-positions = <11 12 13>;
//      bindings = <&tog TVP1>;
//    };
//  };

//  macros {
//    gif: gif {
//      label = "giphy";
//      compatible = "zmk,behavior-macro";
//      #binding-cells = <0>;
//      bindings = 
//        <&macro_press &kp LSHFT>, 
//        <&macro_tap &kp N2>, 
//        <&macro_release &kp LSHFT>, 
//        <&macro_tap &kp G &kp I &kp F>;
//    };
//  };

  keymap {
    compatible = "zmk,keymap";

    base_layer {
      label= "BASE";
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃     Q     ┃     W     ┃     E     ┃     R     ┃     T     ┃   ┃     Y     ┃     U     ┃     I     ┃     O     ┃     P     ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃     A     ┃     S     ┃     D     ┃     F     ┃     G     ┃   ┃     H     ┃     J     ┃     K     ┃     L     ┃     :     ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃    ESC    ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     N     ┃     M     ┃     ,     ┃     .     ┃     /     ┃    TAB    ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃   LALT    ┃    DEL    ┃   BSPC    ┃   ┃   SPACE   ┃   ENTER   ┃   BSPC    ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
      bindings = <
// ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷
                &kp Q       &kp W       &kp E       &kp R       &kp T           &kp Y       &kp U       &kp I       &kp O       &kp P
                &kb A       &mt LCTRL S &lt MOUSE D &lt LNUM F  &kp G           &kp H       &lt RNUM J  &lt FKEYS K &mt LCTRL L &kb COLON
    &kp ESC     &mt LSHFT Z &kp X       &kp C       &kp V       &kp B           &kp N       &kp M       &kp COMMA   &kp DOT     &mt RSHIFT FSLH &kp TAB
                                        &kp LALT    &kp DEL     &kp BSPC        &kp SPACE   &lt ENTER   &kp RALT
      >;
    };


    lnum_layer {
      label= "LNUM";
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃     1     ┃     2     ┃     3     ┃     4     ┃     5     ┃   ┃     6     ┃     7     ┃     8     ┃     9     ┃     0     ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃     +     ┃     -     ┃     *     ┃     /     ┃     =     ┃   ┃   RIGHT   ┃   DOWN    ┃     UP    ┃    LEFT   ┃           ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃           ┃     [     ┃           ┃           ┃     \     ┃           ┃   ┃   HOME    ┃   PG_DN   ┃   PG_UP   ┃    END    ┃     ]     ┃           ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃   LALT    ┃    DEL    ┃   BSPC    ┃   ┃   SPACE   ┃   ENTER   ┃    RALT   ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

      bindings = <
// ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷
                &kp N1      &bt N2      &kp N3      &kp N4      &kp N5          &kp N6      &kp N7      &kp N8      &kp N9      &kp N0
                &kp PLUS    &kp MINUS   &kp STAR    &kp FSLH    &kp LBKT        &kp RIGHT   &kp DOWN    &kp UP      &kp LEFT    &none
    &trans      &kp LBKT    &none       &none       &kp BSLH    &none           &kp HOME    &kp PG_DN   &kp PG_UP   &kp END     &kp RBKT    &trans
                                        &trans      &trans      &trans          &trans      &trans      &trans
      >;
    };


    rnum_layer {
      label= "RNUM";
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃     1     ┃     2     ┃     3     ┃     4     ┃     5     ┃   ┃     6     ┃     7     ┃     8     ┃     9     ┃     0     ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃     +     ┃     -     ┃     *     ┃     /     ┃     =     ┃   ┃   RIGHT   ┃   DOWN    ┃     UP    ┃    LEFT   ┃           ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃           ┃     [     ┃           ┃           ┃     \     ┃           ┃   ┃   HOME    ┃   PG_DN   ┃   PG_UP   ┃    END    ┃     ]     ┃           ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃   LALT    ┃    DEL    ┃   BSPC    ┃   ┃   SPACE   ┃   ENTER   ┃    RALT   ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
      bindings = <
// ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷
                &kp N1      &bt N2      &kp N3      &kp N4      &kp N5          &kp N6      &kp N7      &kp N8      &kp N9      &kp N0
                &kp PLUS    &kp MINUS   &kp STAR    &kp FSLH    &kp LBKT        &kp RIGHT   &kp DOWN    &kp UP      &kp LEFT    &none
    &trans      &kp LBKT    &none       &none       &kp BSLH    &none           &kp HOME    &kp PG_DN   &kp PG_UP   &kp END     &kp RBKT    &trans
                                        &trans      &trans      &trans          &trans      &trans      &trans
      >;
    };
};
